pkgbase = particle-lifesim
	pkgdesc = A particle-based artificial life simulation, implemented with raylib and C++
	pkgver = 0.1.4
	pkgrel = 1
	url = https://github.com/annyman/particle-lifesim
	arch = x86_64
	license = MIT
	makedepends = meson
	makedepends = ninja
	makedepends = gcc
	depends = raylib
	source = https://github.com/annyman/particle-lifesim/archive/refs/tags/v0.1.4.tar.gz
	sha256sums = 0845044edf07fba45b0d71c69127630d03ece09e23396beb303a99aa19625ab9

pkgname = particle-lifesim
