pkgbase = particle-lifesim
	pkgdesc = A particle-based artificial life simulation, implemented with raylib and C++
	pkgver = 0.1.5
	pkgrel = 1
	url = https://github.com/annyman/particle-lifesim
	arch = x86_64
	license = MIT
	makedepends = meson
	makedepends = ninja
	makedepends = gcc
	depends = raylib
	source = https://github.com/annyman/particle-lifesim/archive/refs/tags/v0.1.5.tar.gz
	sha256sums = d83675f10e3117ed573dc53e93c100c07bdc9dfaf370601c1b2d1aa57a9d9338

pkgname = particle-lifesim
