pkgbase = particle-lifesim
	pkgdesc = A particle-based artificial life simulation, implemented with raylib and C++
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/annyman/particle-lifesim
	arch = x86_64
	license = MIT
	makedepends = meson
	makedepends = ninja
	makedepends = gcc
	depends = raylib
	depends = raygui
	source = https://github.com/annyman/particle-lifesim/archive/refs/tags/gui.tar.gz
	sha256sums = da6307293714273ccf0cd0fb05c735b777e39a02d46b711d08ccf9d265dcc7d2

pkgname = particle-lifesim
